
* {
    font-family: 'Montserrat', sans-serif;
}

.bg-brown {
    background-color: #996a40;
}

.filterDiv {
    display: none;
}

.show {
    display: flex;
}

#myBtnContainer .btn {
    background-color: #eee;
}
  
#myBtnContainer .btn:hover {
    background-color: #ddd;
}
  
#myBtnContainer .btn.active {
    background-color: #888;
    color: white;
}